<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<header class="navegador" id="nav1">
    <h1>BARRA DE HERRAMIENTAS</h1>   
   
 </header>
 <div id="di">
     <aside>
         <h1>CONTENIDO SECUNDARIO</h1>
     </aside>
     
     <main>

         <header class="navegador" id="nav2">
           <h1>Sub Barra de Herramientas</h1>  
         </header>
         <section id="box">
             
         </section>
     </main>
 </div>



